big_data.csv
big_data.xlsx
dash tutorial.ipynb
HomeWorkExampleSolution.ipynb
intro_bees.csv
laboratornai.ipynb
lecture1.ipynb
lecture2.ipynb
lecture3.ipynb
lecture4.ipynb
lecture5.ipynb
Pars.ipynb
requirements.txt
selenium_sem.ipynb
test.ipynb
tit.ipynb
venv/
venvdash/
.DS_Store
.env